<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5><strong>Levent KOMAN</strong> </h5><hr />
                <p>
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-heart"> </span> En Beğenilenler</a><br />
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"> </span> Hakkımızda</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"> </span> Son Yazılar</a>
                </p>

            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>Levent KOMAN</strong> </h5><hr />
                <p>Tüm hakları saklıdır &copy; My Evernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>Levent KOMAN</strong> </h5><hr />
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
